@charset "UTF-8";

@font-face {
  font-family: "kangtijian";
  src: url("kangtijian.woff2") format("woff2"),
       url("kangtijian.woff") format("woff"),
       url("kangtijian.ttf") format("truetype"),
       url("kangtijian.eot") format("embedded-opentype"),
       url("kangtijian.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
